APP_NAME="Mojitos Miami API"
APP_ENV=production
APP_DEBUG=false
APP_URL=https://mojitosmiami.cl
FRONTEND_URL=https://mojitosmiami.cl,https://www.mojitosmiami.cl

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=mojitos-miami
DB_USERNAME=root
DB_PASSWORD=
